.videoBlock {
  margin: 20px 0;
}

.videoContainer {
  min-height: 368px;
}
//:global(.video-js) {
//  border-radius: 12px;
//  overflow: hidden;
//  max-width: 664px;
//  width: 100%;
//}
//:global(.vjs-control-text) {
//  display: none;
//}
//:global(.vjs-big-play-button) {
//  border: none !important;
//  background: transparent !important;
//}
//:global(.video-js .vjs-big-play-button .vjs-icon-placeholder:before) {
//  content: url("data:image/svg+xml,%3Csvg width='46' height='64' viewBox='0 0 46 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.7581 27.2319C45.9018 29.6334 45.9018 34.3666 42.7581 36.768L9.89221 61.8736C5.94372 64.8898 0.249997 62.0742 0.249998 57.1056L0.249999 6.89442C0.25 1.92573 5.94372 -0.889786 9.89221 2.12639L42.7581 27.2319Z' fill='%23D7FC6F'/%3E%3C/svg%3E%0A") !important;
//  font-family: 'SF Pro Display', sans-serif !important;
//}

.videoCaption {
  margin-top: 10px;
  border: 1px solid rgba(201,201,204,.48);
  box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  border-radius: 3px;
  padding: 10px 12px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.dropzone {
  padding: 0px;
  border-radius: 3px !important;
  border: 1px solid rgba(201,201,204,.48) !important;
  font-size: 15px;
  background: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.04);
  text-align: center !important;
  cursor: pointer !important;
  :global(.ant-upload-btn) {
    padding: 12px 0;
  }
  :global(.ant-upload-text) {
    color: #707684;
    font-size: 15px;
    img {
      transform: scale(1.3);
      margin-right: 0.6em;
    }
  }
  &:hover {
    background: #fbfcfe !important;
    box-shadow: 0 1px 3px 0 rgba(18, 30, 57, 0.08);
  }
}