.App {
  text-align: center;
}

.widget {
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Lexend', sans-serif;
  /*display: flex;*/
  overflow: hidden;
}

.grid-stack-item-content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.widget img {
  object-fit: cover;
  display: block;
}

.grid-stack-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.2s;
  background-color: #fff;
}

.grid-stack-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.ce-block__content, .ce-toolbar__content { max-width: calc(100% - 100px) !important; }
.cdx-block { max-width: 100% !important; }
.codex-editor__loader { height: 38px !important; }
.codex-editor__redactor { padding-bottom: 0 !important; }
.codex-editor--narrow { padding-bottom: 0 !important; }
.codex-editor__redactor {
  padding-bottom: 0 !important;
}