.questionLinkContainer{
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;

  .linkTitle {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #18222F;
  }


  .questionLinkContainer__registerButton{
    display: block;
    margin: auto;
  }

  .questionLinkContainer__inputHolder{}

  .questionLinkContainer__inputHolder > * {
    margin-bottom: 0;
  }

  .questionLinkContainer__input {
    padding-left: 38px;
    background-repeat: no-repeat;
    background-position: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .questionLinkContainer__input--link{
    width: 300px;
    background-image: url('data:image/svg+xml,<svg height="20" width="20" viewBox="0 0 1024 1024" t="1569683604581" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12000" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style type="text/css"></style></defs><path d="M508 280h-63.3c-3.3 0-6 2.7-6 6v340.2H433L197.4 282.6c-1.1-1.6-3-2.6-4.9-2.6H126c-3.3 0-6 2.7-6 6v464c0 3.3 2.7 6 6 6h62.7c3.3 0 6-2.7 6-6V405.1h5.7l238.2 348.3c1.1 1.6 3 2.6 5 2.6H508c3.3 0 6-2.7 6-6V286c0-3.3-2.7-6-6-6zM886 693H582c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h304c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zM733.8 630c52.9 0 95.2-17.2 126.2-51.7 29.4-32.9 44-75.8 44-128.8 0-53.1-14.6-96.5-44-129.3-30.9-34.8-73.2-52.2-126.2-52.2-53.7 0-95.9 17.5-126.3 52.8-29.2 33.1-43.4 75.9-43.4 128.7 0 52.4 14.3 95.2 43.5 128.3 30.6 34.7 73 52.2 126.2 52.2z m-71.5-263.7c16.9-20.6 40.3-30.9 71.4-30.9 31.5 0 54.8 9.6 71 29.1 16.4 20.3 24.9 48.6 24.9 84.9 0 36.3-8.4 64.1-24.8 83.9-16.5 19.4-40 29.2-71.1 29.2-31.2 0-55-10.3-71.4-30.4-16.3-20.1-24.5-47.3-24.5-82.6 0.1-35.8 8.2-63 24.5-83.2z" p-id="12001"></path></g></svg>');
  }

  .questionLinkContainer__input[data-placeholder]::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
  }

  .questionLinkContainer__input[data-placeholder]:empty::before {
    opacity: 1;
  }

  .questionLinkContainer__input[data-placeholder]:empty:focus::before {
    opacity: 0;
  }


  .cdx-button{
    white-space: nowrap;
  }
  .iconSource {
    width: 24px;
    height: 24px;
  }

  .youTubeLinkHolder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: left !important;
    position: relative;
    &:after {
      //content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_589_20020)'%3E%3Cpath d='M23.5055 6.23876C23.2288 5.21063 22.4182 4.4002 21.3903 4.12335C19.5122 3.60938 11.9998 3.60938 11.9998 3.60938C11.9998 3.60938 4.48753 3.60938 2.60943 4.10376C1.60125 4.38043 0.770871 5.21081 0.4942 6.23876C0 8.11668 0 12.0113 0 12.0113C0 12.0113 0 15.9255 0.4942 17.7839C0.771054 18.8118 1.58148 19.6224 2.60961 19.8993C4.50731 20.4133 12 20.4133 12 20.4133C12 20.4133 19.5122 20.4133 21.3903 19.9189C22.4184 19.6422 23.2288 18.8316 23.5057 17.8037C23.9999 15.9255 23.9999 12.0311 23.9999 12.0311C23.9999 12.0311 24.0197 8.11668 23.5055 6.23876Z' fill='%23FF0000'/%3E%3Cpath d='M9.60742 15.6101L15.8544 12.0121L9.60742 8.41406V15.6101Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_589_20020'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      //width: 20px;
      //height: 20px;
      //position: absolute;
      //display: block;
      //left: 0;
      //top: 50%;
      //transform: translate(0%, -50%);
      display: none;
    }
  }


  .btn {
    display: block;
  }
  .ce-block .linkWrap {
    text-decoration: none !important;
  }
  .linkWrap {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.45);
    text-decoration: none;

  }

  .toggle-input {
    position: absolute;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    width: 40px;
    height: 20px;
    margin: 0;
  }

  .toggle-label {
    width: 40px;
    height: 20px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
    box-sizing: border-box;
  }
  .toggle-label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }

  .toggle-input:checked + .toggle-label {
    background-color: #4BD865;
  }
  .toggle-input:checked + .toggle-label:after {
    left: 20px;
  }

  .toggle-switch {
    width: 40px;
    margin-left: auto;
    padding: 10px 0;
  }
  .hide{
    display: none !important;
    .anyButtonContainer .youTubeLinkHolder:after {
      display: none;
    }
  }
}
